:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #007bff;
    --form-bg-color: #d1dfe9;
    --card-hover-bg: #b7d0ed;
    --header-height: 60px;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color) !important;
    color: var(--main-text-color) !important;
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-y: auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpaperaccess.com/full/624111.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    /* padding: 1rem 0; */
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-between;
}

nav i img {
    height: 56px;
    width: 63px;
    position: relative;
    box-sizing: border-box;
    justify-content: flex-start;
}

nav span {
    /* margin-left: 59px; */
    position: relative;
    /* margin-top: -2px; */
    font-size: x-large;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    /* margin: 0 1rem; */
    display: flex;
    justify-content: space-between;
    /* align-items:space-between; */
    padding: 0 3vw;
}

nav ul li a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.navButton {
    color: var(--main-text-color);
    text-decoration: underline;
    font-weight: bold;
}

main {
    position: relative;
}

#home{
    display: flex;
    position: relative;
    flex-direction: column;
}

.headHome{
    max-width: 70vw;
}
.carousel-item {
    transition: transform 3s ease-in-out;
}

.carousel-control-next,
.carousel-control-prev {
    /* top: 50% !important; */
    transform: translateY(-50%) !important;
}

/* .carousel-control-next {
    right: 38rem !important;
}

.carousel-control-prev {
    left: -97px !important;
} */

#carouselExample {
    position: relative;
    /* margin-top: -33rem; */
    margin:0;
}
.carousel-inner{
    margin: 0;
    position: relative;
}
#imgG {
    height: 60%;
    width: 30%;
    position: absolute;
    /* overflow: hidden; */
    display: block;
    left: 35rem ;
    bottom: 20rem;
    /* margin: 0 auto; */
    animation: upComing 2.5s ease infinite;
}

main div {
    margin-top: 45px;
    position: relative;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}

.card {
    /* margin: 3px 10px; */
    height: auto !important;
    width: auto !important;
    margin: 3px;
}

.card:hover {
    background-color: var(--card-hover-bg);
}

.card-body {
    flex: 1 1 auto;
    padding: 2px;
    color: var(--bs-card-color);
    margin: 0;
}

.card-img,
.card-img-top {
    width: auto !important;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    height: auto !important;
}

/* section {
     margin-bottom: 4rem;
} */

#about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headAbout{
    display: flex;
    align-self: center;
    flex-direction:column;
}
.headAbout h2{
    display: flex;
    align-self: center;
    justify-content: center;
}
.contantOfAbout {
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutContant {
    width: 45%;
    /* position: relative; */
    box-sizing: border-box;
    display: inline-block;
    /* left: 20vw;
    top: 27vh; */
}

.aboutAdv {
    box-sizing: border-box;
    display: inline-block;
    /* left: 22vw;
    top: 40vh; */
    width: 45%;
}


#contact{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 5vh;
}
.txtForm {
    color: var(--main-text-color) !important;
}
.headContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formClass {
    /* position: relative; */
    /* width: 50%;
    margin-left: 8rem !important; */
    background-color: var(--form-bg-color) !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: 5px;
    width: 95%;
    /* padding: 1px 25px;
    padding-bottom: 15px; */
}

.mb-3{
    display: flex ;
    /* flex-direction: row; */
    justify-content: space-evenly ;
}
.form-label{
    display: flex;
}
.form-control{
    display: flex;
    width: 70% !important;
}
form button{
    margin:2px;
}
footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: calc(100% + 84px);
    bottom: 0;
    margin-left: -42px;
    height: var(--header-height);
}

.hidden {
    opacity: 0.6;
    transition: opacity 1s ease-out;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-out;
}

@keyframes upDown {
    50% {
        top: 20px;
    }

    100% {
        top: 0;
    }
}

@keyframes downToUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes downToUpHome {
    0% {
        transform: translateY(20%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes upComing {
    0% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5%);
    }
}





.animate {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.animate.active {
    opacity: 1;
}



@media screen and (max-width:700px) {
    .cardContainer{
        flex-wrap: wrap ;
        /* flex-shrink: 50%; */
    }
    .card{
        max-width: 50%;
    }
}

@media screen and (max-width:540px) {
    header{
        max-height: 16%;
        font-size: x-small;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #mainTitle{
        font-size: small;
    }
    .icon{
        margin:0;
        padding: 0;
    }
    .icon i{
        justify-content:flex-start;
    }
    .cardContainer{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card{
        max-width: 65vw;
    }

    .links{
        margin-left: 10vw;
    }

    footer{
        font-size: x-small;
    }
}


@media screen and (max-width:400px) {
    header{
        max-height: 16%;
        font-size: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #mainTitle{
        font-size: small;
    }
    .icon{
        margin:0;
        padding: 0;
    }
    .icon i{
        justify-content:flex-start;
    }
    .cardContainer{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card{
        max-width: 65vw;
    }

    .links{
        margin-left: 10vw;
    }

    footer{
        font-size: x-small;
    }
    .formClass{
        max-width: max-content;
    }
}